%h3
  Roles And Goals
- if !@roles.count.zero?
  %table.bordered-table.b-weekly-role-goals
    %th
      Roles
    %th
      Goals
    - @roles.each do |role|
      %tr{:class => "role-#{role.id}"}
        %td.role_name
          = role.name
        %td.role_goals
- else
  You don't have any roles yet
  %p
    = link_to "Add one?", "#!/role/"