#app
  #goal-form.app-screen{:style => "display: none;"}
    %button#load.btn
      Load
    = render :partial => "goals/form"
    %ul#goals-list


  %table.app-screen.bordered-table#calendar-grid
    %tr
      %td{:colspan => 2}
        week
    %tr
      %td
        day
      %td
        #calendar

  .app-screen#role-form
    = render :partial => "roles/form"