:erb
  <script>
    $(document).ready(function(){
      CsfTaskManager.init(<%= @roles.to_json %>, <%= @goals.to_json %>);
    });		
  </script>
#app
  .app-screen#goal-form.hidden
    = render :partial => "goals/form"

  %table.app-screen.bordered-table#calendar-grid
    %tr
      %td{:colspan => 2}
        week
    %tr
      %td
        day
      %td
        #calendar

  .app-screen#role-form.hidden
    = render :partial => "roles/form"